<div class="container color-dark">
  <div class="col">
    <p>Add a bucket List Item</p>
  </div>
  <div class="col">
    <p>Your bucket list ({{ItemCount}})</p>
  </div>
</div>
<div class="container color-light" [@goals]="goals.length">
  <div class="col">
    <p class="sm">Use this form below to add a new bucket list goal. Your future Goal!</p>

    <form>
      <input type="text" class="txt" name="Item" placeholder="Life goal.." [(ngModel)]="goalText">
      <input type="button" class="btn" value="{{ btnString }}" (click)="addItem()">
    </form>
  </div>
  <div class="col">
      <p class="life-container" *ngFor="let goal of goals; let i = index" (click)="removeItem(i)">
        {{ goal }}
      </p>
  </div>
</div>
